body, h1, h2 {
    margin: 0 auto;
}

#sub-ipt {
    padding: 0 auto;
    border: none;
    height: 28px;
    background-color: #409eff;
    color: white;
}

#path-ipt {
    height: 22px;
    min-width: 300px;
}

#file-chooser {
    border: none;
}

#head-content {
    display: flex;
}

#tl-left {
    width: 50%;
}

#tl-right {
    margin-top: 10px;
    width: 50%;
}

#header {
    display: flex;
    min-height: 60px;
    background-color: #409eff;
    color: #fff;
}

#site-title {
    margin-left: 150px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 18pt;
}

#content {
    margin: 0 auto;
    min-height: 400px;
    background-color: white;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding-top: 20px;
    min-height: 50px;
    background-color: #eee;
    text-align: center;
    color:#888;
}

#cards-area {
    display: flex;
}

.card {
    margin: 5px 5px 5px 5px;
    width: 250px;
    height: 100px;
    border: 3px solid #ccf;
}

p {
    margin-left: 15px;
    font-size: 11px;
    color: #555;
}

a {
    text-decoration: none;
}

.second-title {
    margin-top: 10px;
    color: #333;
    font-size: 18pt;
}